extends layout

block content
  .header-fixed
    .header-content
      ul.menu
        li
          h3= title
      br
      ul.menu
        li
          .searchWidget
            input#regex(placeholder="Search")
        li
          div.autoScroll
            input(type='checkbox', id='autoScroll', name='autoScroll', value='autoScroll', checked)
            label(for='autoScroll') AutoScroll
        li.clearLogLi
          button.clearLogBtn= 'Clear Logs'

  .container.logs
