extends layout

block content
  .header
    h1= title
    button.clearLogBtn= 'Clear Logs'
    .searchWidget
      input#regex
    div AutoScroll
      input(type='checkbox', id='autoScroll', name='autoScroll', value='autoScroll', checked)
  .container.logs
