doctype html
html
  head
    title= title
    script(type='text/javascript', src="/socket.io/socket.io.js")
    script(type='text/javascript', src="/javascripts/underscore.js")
    script(type='text/javascript', src="/javascripts/jquery-1.9.1.min.js")
    script(type='text/javascript', src="/javascripts/ansi2html.js")
    script(type='text/javascript', src="/javascripts/getLogs.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
